ul,li{list-style:none;margin:0;padding:0}
img{border:none}

.DB_tab25 {width:100%;height:300px;position:relative;overflow:hidden}

.DB_tab25 .DB_bgSet{position:relative;}
.DB_tab25 .DB_bgSet li{position:absolute;width:100%;height:300px;display:none}

.DB_tab25 .DB_imgSet{position:absolute;width:1000px;left:50%;margin-left:-500px;}

.DB_tab25 .DB_imgSet .DB_1_1{position:absolute;left:0px;top:80px;}
.DB_tab25 .DB_imgSet .DB_1_2{position:absolute;left:0px;top:120px}
.DB_tab25 .DB_imgSet .DB_1_3{position:absolute;left:650px;top:0px}

.DB_tab25 .DB_imgSet .DB_2_1{position:absolute;left:0px;top:80px;}
.DB_tab25 .DB_imgSet .DB_2_2{position:absolute;left:0px;top:120px}
.DB_tab25 .DB_imgSet .DB_2_3{position:absolute;left:650px;top:0px}

.DB_tab25 .DB_imgSet .DB_3_1{position:absolute;left:0px;top:80px;}
.DB_tab25 .DB_imgSet .DB_3_2{position:absolute;left:0px;top:120px}
.DB_tab25 .DB_imgSet .DB_3_3{position:absolute;left:650px;top:0px}

.DB_tab25 .DB_imgSet .DB_4_1{position:absolute;left:0px;top:80px;}
.DB_tab25 .DB_imgSet .DB_4_2{position:absolute;left:0px;top:120px}
.DB_tab25 .DB_imgSet .DB_4_3{position:absolute;left:0px;top:150px}
.DB_tab25 .DB_imgSet .DB_4_4{position:absolute;left:0px;top:180px}
.DB_tab25 .DB_imgSet .DB_4_5{position:absolute;left:650px;top:0px}

.DB_tab25 .DB_menuWrap{position:absolute;width:1000px;left:50%;margin-left:-500px;}
.DB_tab25 .DB_menuWrap .DB_menuSet{position:absolute;width:100%;top:260px;text-align:center;font-size:0}
.DB_tab25 .DB_menuWrap .DB_menuSet li{cursor:pointer;margin:0 3px;display:inline}


.DB_tab25 .DB_prev{position:absolute;left:-100px;top:120px;cursor:pointer;display:none}
.DB_tab25 .DB_next{position:absolute;right:-100px;top:120px;cursor:pointer;display:none}