@charset "utf-8";
/*RESET
-------------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary, dialog {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
    width: 0;
}
[hidden] {
    display: none;
}
mark {
    background: none repeat scroll 0 0 #ff0;
    color: #575e63;
}
html {
    font-size: 14px;
}
html, button, input, select, textarea {
    font-family: 'Microsoft Yahei',tahoma,arial,'宋体',sans-serif;
}
button, input, select, textarea {
    font-size: 100%;
}
body {
    background-color: #fff;
    color: #565a5c;
    line-height: 1.5;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, figure, form, fieldset, legend, button, input, textarea, select th, td {
    margin: 0;
    padding: 0;
}
address, cite, dfn, em, var, i {
    font-style: normal;
}
a {
    color: #565a5c;
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
}
a:active, a:hover {
    outline: 0 none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.83em;
}
h6 {
    font-size: 0.75em;
}
b, strong {
    font-weight: 700;
}
code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before, q:after {
    content: none;
}
small {
    font-size: 75%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
ul, ol, li {
    list-style: none outside none;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
fieldset {
    border: 0 none;
}
legend {
    border: 0 none;
    white-space: normal;
}
button, input, select {
    vertical-align: middle;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
button, input {
    line-height: normal;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: none;
}
/*input[type=submit],input[type=reset],input[type=button]{
    filter:chroma(color=#000000);
}*/
button[disabled], input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
}
input[type="text"], input[type="email"], input[type="search"], input[type="password"]{
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="search"] {
    box-sizing: content-box;
}

input:-webkit-autofill,textarea:-webkit-autofill,select:-webkit-autofill{-webkit-box-shadow: 0 0 0 1000px white inset;}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
:focus {
    outline: 0 none;
}
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*PLACEHOLDER
-------------------------------------------------------------- */
input::-webkit-input-placeholder{color: #999;}
input:-moz-placeholder{color: #999;}
input::-moz-placeholder{color: #999;}
input:-ms-input-placeholder{color: #999;}
.placeholder{color: #999; z-index: 4;}
.searchinfo-small .placeholder{font-size:12px;}
.login-zone .placeholder{font-size:12px;}

input::-ms-clear { display: none; }
input[type="password"]::-ms-reveal{display:none;}

/*LINK BUTTON
-------------------------------------------------------------- */
.cmn-btn {
    -moz-box-orient: vertical;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    color: #666;
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    padding: 0 4px;
    text-align: center;
}
.cmn-btn:hover {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #c9c9c9;
    color: #4d4d4d;
    text-decoration: none;
}
.cmn-btn:focus {
    outline: 0 none;
}
.cmn-btn:active, .cmn-btn.active {
    background: none repeat scroll 0 0 #e6e6e6;
    border: 1px solid #c9c9c9;
    color: gray;
}
.cmn-btn.disabled {
    background: none repeat scroll 0 0 #efefef !important;
    border: 1px solid #e2e2e2 !important;
    color: #ccc !important;
    cursor: default !important;
}

.cmn-btn-28 {
    font-size: 14px;
    padding: 4px 9px 3px;
}

/*FONT
-------------------------------------------------------------- */
.f10 { font-size: 10px }
.f12 { font-size: 12px }
.f14 { font-size: 14px }
.f16 { font-size: 16px }
.f18 { font-size: 18px }
.f20 { font-size: 20px }
.f24 { font-size:24px }
.f30 { font-size:30px }
.fb { font-weight: 700 }
.fn { font-weight: 400 }
.t2 { text-indent: 2em }
.lh20 { line-height:20px }
.lh22 { line-height:22px }
.lh24 { line-height:24px }
.unl { text-decoration: underline }
.no_unl { text-decoration: none }
/*POSITION
-------------------------------------------------------------- */
.tl { text-align: left }
.tc { text-align: center }
.tr { text-align: right }
.bc { margin-left: auto; margin-right: auto }
.fl { display: inline; float: left !important;}
.fr { display: inline; float: right !important;}
.vm { vertical-align: middle; }
.vt { vertical-align: top }
.pr { position: relative }
.pa { position: absolute }
.abs-right { position: absolute; right: 0 }
.abs-left { position: absolute; left: 0 }
.hidden { visibility: hidden }
.none { display: none }
.auto { margin: 0 auto}
.overflow{ overflow:hidden;}
/*MARGIN / PADDING
-------------------------------------------------------------- */
.m0 { margin: 0 !important;}
.m5 { margin: 5px !important;}
.m10 { margin: 10px !important;}
.m15 { margin: 15px !important;}
.m20 { margin: 20px !important;}
.m25 { margin: 25px !important;}
.m30 { margin: 30px !important;}
.m50 { margin: 50px !important;}
.mt0 { margin-top: 0 !important;}
.mt5 { margin-top: 5px !important;}
.mt10 { margin-top: 10px !important;}
.mt15 { margin-top: 15px !important;}
.mt20 { margin-top: 20px !important;}
.mt25 { margin-top: 25px !important;}
.mt30 { margin-top: 30px !important;}
.mt50 { margin-top: 50px !important;}
.mr0 { margin-right: 0 !important;}
.mr5 { margin-right: 5px !important;}
.mr10 { margin-right: 10px !important;}
.mr15 { margin-right: 15px !important;}
.mr20 { margin-right: 20px !important;}
.mr25 { margin-right: 25px !important;}
.mr30 { margin-right: 30px !important;}
.mr50 { margin-right: 50px !important;}
.mb0 { margin-bottom: 0 !important;}
.mb5 { margin-bottom: 5px !important;}
.mb10 { margin-bottom: 10px !important;}
.mb15 { margin-bottom: 15px !important;}
.mb20 { margin-bottom: 20px !important;}
.mb25 { margin-bottom: 25px !important;}
.mb30 { margin-bottom: 30px !important;}
.mb50 { margin-bottom: 50px !important;}
.ml0 { margin-left: 0 !important;}
.ml5 { margin-left: 5px !important;}
.ml10 { margin-left: 10px !important;}
.ml15 { margin-left: 15px !important;}
.ml20 { margin-left: 20px !important;}
.ml25 { margin-left: 25px !important;}
.ml30 { margin-left: 30px !important;}
.ml50 { margin-left: 50px !important;}
.ml60 { margin-left: 60px !important;}
.ml70 { margin-left: 70px !important;}
.p0 { padding: 0 !important;}
.p5 { padding: 5px !important;}
.p10 { padding: 10px !important;}
.p15 { padding: 15px !important;}
.p20 { padding: 20px !important;}
.p25 { padding: 25px !important;}
.p30 { padding: 30px !important;}
.p50 { padding: 50px !important;}
.pt0 { padding-top: 0 !important;}
.pt5 { padding-top: 5px !important;}
.pt10 { padding-top: 10px !important;}
.pt15 { padding-top: 15px !important;}
.pt20 { padding-top: 20px !important;}
.pt25 { padding-top: 25px !important;}
.pt30 { padding-top: 30px !important;}
.pt50 { padding-top: 50px !important;}
.pr0 { padding-right: 0 !important;}
.pr5 { padding-right: 5px !important;}
.pr10 { padding-right: 10px !important;}
.pr15 { padding-right: 15px !important;}
.pr20 { padding-right: 20px !important;}
.pr25 { padding-right: 25px !important;}
.pr30 { padding-right: 30px !important;}
.pr50 { padding-right: 50px !important;}
.pb0 { padding-bottom: 0 !important;}
.pb5 { padding-bottom: 5px !important;}
.pb10 { padding-bottom: 10px !important;}
.pb15 { padding-bottom: 15px !important;}
.pb20 { padding-bottom: 20px !important;}
.pb25 { padding-bottom: 25px !important;}
.pb30 { padding-bottom: 30px !important;}
.pb50 { padding-bottom: 50px !important;}
.pl0 { padding-left: 0 !important;}
.pl5 { padding-left: 5px !important;}
.pl10 { padding-left: 10px !important;}
.pl15 { padding-left: 15px !important;}
.pl20 { padding-left: 20px !important;}
.pl25 { padding-left: 25px !important;}
.pl30 { padding-left: 30px !important;}
.pl50 { padding-left: 50px !important;}

.w250{width: 250px;}
.w184{width: 184px;}
.w120{width: 120px;}

.colorgray{color: #bebebe;}
.radio-inline, .checkbox-inline {
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
  padding-left: 0;
  vertical-align: middle;
}
input::-ms-clear { display: none; }
